body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #1f4037, #99f2c8);
    color: white;
}

nav {
    display: flex;
    gap: 20px;
    padding: 20px;
}

nav a {
    color: #99f2c8;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid yellowgreen;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background: yellow;
    cursor: pointer;

}

.card {
    background: violet;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: cornflowerblue;
    color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 80px auto;
}

input,
textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.lang-page {
    background: linear-gradient(135deg, #99f2c8, #1f4037, #2c532c);
    min-height: 100vh;
    color: antiquewhite;
}

.lang-title {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;

}

.lang-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px 80px;
}

.lang-card {
    background: rgb(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
    backdrop-filter: blur(6px);
    cursor: pointer;
}

.lang-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.lang-card p {
    font-size: 15px;
    opacity: 0.85;

}

.lang-card:hover {
    transform: translateY(-12px) scale(1.03);
    background: #99f2c8;
    color: bisque;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}